<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Personalized Stock Manager</title>
    <meta charset="UTF-8" />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"
    ></script>
    <script
      nomodule
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/index.css') }}"
    />
  </head>
  <style>
    df-messenger {
      --df-messenger-bot-message: #094067;
      --df-messenger-button-titlebar-color: #ffffff;
      --df-messenger-button-titlebar-font-color: #00000;
      --df-messenger-chat-background-color: #ffffff;
      --df-messenger-font-color: #ffffff;
      --df-messenger-input-box-color: #ebebeb;
      --df-messenger-input-font-color: #0000000;
      --df-messenger-input-placeholder-font-color: grey;
      --df-messenger-minimized-chat-close-icon-color: grey;
      --df-messenger-send-icon: #046cf1;
      --df-messenger-user-message: #046cf1;
    }
  </style>
  <body>
    <ion-app>
      <ion-content>
        <ion-grid class="pageMargin banner">
          <ion-row>
            <ion-col size="8">
              <h1 class="bannerPad">
                Revolutionlise Customer Service with Chatbot
              </h1>
              <div class="bannerPadtext">
                <ion-text style="padding-right: 60px; font-size: 22px">
                  Say good bye to long wait hours and frustrating interactions.
                  This chatbot provides 24 assitance and Personalized service
                  for your customer
                </ion-text>
              </div>
              <div class="bannerPad">
                <ion-button id="startBtn" class="btn"
                  >Get Started
                  <ion-icon
                    class="btn-pad"
                    name="chevron-forward-outline"
                  ></ion-icon>
                </ion-button>
              </div>
            </ion-col>
            <ion-col class="banner-img">
              <img
                src="{{ url_for('static', path='bot.gif') }}"
                alt="Animated
              GIF"
            /></ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row class="section pageMargin">
            <ion-col>
              <h2>Advanced AI Technology</h2>
              <p class="text-format">
                Our robot uses advanced artificial intelligence technology to
                understand and respond to customer inquiries, providing accurate
                and efficient assitance
              </p>
              <ion-row>
                <ion-col>
                  <div><ion-chip>Real-time Stock Price</ion-chip></div>
                  <div style="padding-right: 50px">
                    <ion-chip>Portfolio Evaluation</ion-chip>
                  </div>
                  <div><ion-chip>Transaction History</ion-chip></div>
                </ion-col>
                <ion-col>
                  <img
                    class="bot1"
                    src="{{ url_for('static', path='bot1.gif') }}"
                    alt="Animated GIF"
                /></ion-col>
                <ion-col>
                  <div><ion-chip>Intelligent conversations</ion-chip></div>
                  <div style="padding-left: 50px">
                    <ion-chip>Gain/Loss Calculation</ion-chip>
                  </div>
                  <div><ion-chip>Earnings Reports</ion-chip></div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <div id="chatbot" class="chatbot"> -->
        <!-- <iframe
            src="https://console.dialogflow.com/api-client/demo/embedded/e05b1a8f-6e58-4e5e-93b5-f02028fe3c1f"
          ></iframe> -->
        <!-- </div> -->
        <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
        <df-messenger
          intent="WELCOME"
          chat-title="Stock-Bot"
          agent-id="e05b1a8f-6e58-4e5e-93b5-f02028fe3c1f"
          language-code="en"
        ></df-messenger>
      </ion-content>
    </ion-app>
  </body>
</html>
